.twoqually div {
  background-color: blue;
  display: flex;
  height: 100px;
  width: 100%;
  border: 10px solid lime;
  border-style: ridge;
}


.twoqually {

  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  background-color: purple;
}

.threeequally div {
  background-color: blue;
  display: flex;
  height: 100px;
  width: 100%;
  border: 10px solid lime;
  border-style: ridge;
}

.threeequally {

  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
  background-color: purple;
}

.threeunequally {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 12px;
  background-color: purple;
}


.threeunequally div {
  background-color: blue;

  display: flex;
  height: 100px;
  border: 10px solid lime;
  border-style: ridge;
  box-shadow: inset 0 0 0 2px black;
}

.threeunequally .bigger {
  flex-grow: 2;
}

.threeunequally .sbox {
  flex-grow: 1;
}

.fourcolumn {
  background-color: purple;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fourequally {
  display: flex;
  gap: 12px;
}

.fourequally .four {
  background-color: blue;
  height: 100px;
  flex: 1;
  box-shadow: inset 0 0 0 2px black;
  border: 10px solid lime;
  border-style: ridge;
}

.full {
  background-color: blue;
  height: 500px;
  box-shadow: inset 0 0 0 2px black;
  border: 10px solid lime;
  border-style: ridge;
  overflow: hidden;
}


.fourcolumn div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
